<% provide(:title, "Join") %>

<h1>Join Team Screen</h1>
<p>This is where all the teams would go that you can join</p>

<ul>
  <% Team.all.each do |team| %>
    <br>
    <h4>Class: <%= team.course %></h4>
    <p>
      Team Name: <%= link_to team.name, team %>
      <br>
      Description: <%= team.desc %>
      <%= link_to "Join Team Now!", '/show', class: "btn btn-medium btn-primary" %>
    </p>

  <% end %>
</ul>
